.gacha-close {
    transition-duration: 0.2s;
    transition-timing-function: ease-in-out-cubic;
    translate: 0 100%;
}

.gacha-open {
    transition-duration: 0.2s;
    transition-timing-function: ease-in-out-cubic;
    translate: 0 0;
}
