.font-style {
    -unity-font-definition: url("project://database/Assets/Settings/UI%20Toolkit/UnityThemes/UnityDefaultRuntimeTheme.tss?fileID=2230732570650464555&guid=804a53278a35c0149ab81a2e1981da1d&type=3#NotInter-Regular");
}
