.equipment-inventory_open {
    height: 25%;
    position: absolute;
    width: 100%;
    justify-content: flex-start;
    align-content: auto;
    flex-direction: column;
    align-items: auto;
    bottom: 0;
    background-color: rgb(183, 183, 183);
    border-left-color: rgb(0, 0, 0);
    border-right-color: rgb(0, 0, 0);
    border-top-color: rgb(0, 0, 0);
    border-bottom-color: rgb(0, 0, 0);
    border-top-width: 2px;
    border-right-width: 2px;
    border-bottom-width: 2px;
    border-left-width: 2px;
    transition-timing-function: ease-in-out-cubic;
    transition-duration: 0.2s;
}

.equipment-inventory_close {
    height: 25%;
    position: absolute;
    width: 100%;
    justify-content: flex-start;
    align-content: auto;
    flex-direction: column;
    align-items: auto;
    bottom: -25%;
    background-color: rgb(183, 183, 183);
    border-left-color: rgb(0, 0, 0);
    border-right-color: rgb(0, 0, 0);
    border-top-color: rgb(0, 0, 0);
    border-bottom-color: rgb(0, 0, 0);
    border-top-width: 2px;
    border-right-width: 2px;
    border-bottom-width: 2px;
    border-left-width: 2px;
    transition-timing-function: ease-in-out-cubic;
    transition-duration: 0.2s;
}

.door-button {
    width: 10%;
    height: 90%;
    background-color: rgb(94, 94, 94);
    top: 5%;
    bottom: auto;
    left: 15%;
    align-self: center;
    align-content: auto;
    justify-content: space-around;
    align-items: center;
    position: absolute;
    transition-duration: 0.2s;
    transition-timing-function: ease-in-out-cubic;
}

.door-button:hover {
    scale: 1.05 1.05;
    transition-timing-function: ease-in-out-cubic;
    transition-duration: 0.2s;
}

.door-button:active {
    scale: 0.95 0.95;
    transition-timing-function: ease-in-out-cubic;
    transition-duration: 0.2s;
}

.wall-button {
    width: 10%;
    height: 90%;
    background-color: rgb(94, 94, 94);
    top: 5%;
    bottom: auto;
    left: 2%;
    align-self: center;
    align-content: auto;
    justify-content: space-around;
    align-items: center;
    position: absolute;
    transition-duration: 0.2s;
    transition-timing-function: ease-in-out-cubic;
}

.wall-button:hover {
    scale: 1.05 1.05;
    transition-timing-function: ease-in-out-cubic;
    transition-duration: 0.2s;
}

.wall-button:active {
    scale: 0.95 0.95;
    transition-timing-function: ease-in-out-cubic;
    transition-duration: 0.2s;
}
